{% extends 'base.html' %}

{% load static %}


{% block title %}
    <title>Timteable Generator - Step 2</title>
{% endblock title %}


{% block content %}
    <main class="container">
        <form action="{% url 'step_2' %}" method="post" class="px-5">
            {% csrf_token %}
            <h2 class="p-3 fs-6 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">Step 2. Define Parameters and Additional Problem Domain</h2>
            <div class="row">
                <div class="col-md-4">
                    <h3 class="fs-6 p-3 text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-3">2.1. Configure Algorithm Parameter</h3>
                    <div class="row my-3 form-group">
                        <label for="search_space" class="col-md-4 col-form-label">Search Space</label>
                        <div class="col-md-8">
                            <input type="number" name="search_space" id="search_space" class="form-control" min="1">
                            <small class="text-muted">How many solution candidates do you want in the search space?</small>
                        </div>
                    </div>
                    <div class="row my-3 form-group">
                        <label for="iterations" class="col-md-4 col-form-label">Iterations</label>
                        <div class="col-md-8">
                            <input type="number" name="iterations" id="iterations" class="form-control" min="1">
                            <small class="text-muted">How many iterations do you want to perform?</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <h3 class="fs-6 p-3 text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-3">2.2. Define Number of Rooms for Each Location</h3>
                    
                    {% for i in nb_locations %}
                    <div class="row my-3 form-group">
                        <label for="rooms{{i}}" class="col-md-4 col-form-label">Rooms in <b>Location {{i}}</b></label>
                        <div class="col-md-8">
                            <input type="number" name="rooms{{i}}" id="rooms{{i}}" class="form-control" min="1">
                            <small class="text-muted">How many rooms do you have in Location {{i}}?</small>
                        </div>
                    </div>
                    {% endfor %}

                    <h3 class="fs-6 p-3 text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-3">2.3. Define Number of Classes for Each Course</h3>
                    
                    {% for i in nb_locations %}
                        {% for j in nb_locations %}
                            {% if j > i %}
                            <div class="row my-3 form-group">
                                <label for="travel_time_{{i}}_{{j}}" class="col-md-2 col-form-label">Travel Time: <b>Location {{i}} to Location {{j}}</b></label>
                                <div class="col-md-10">
                                    <input type="number" name="travel_time_{{i}}_{{j}}" id="travel_time_{{i}}_{{j}}" class="form-control" min="1">
                                    <small class="text-muted">How long does it take to travel from Location {{i}} to Location {{j}}?</small>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    
                </div>
            </div>
            <div class="d-flex flex-row-reverse py-3">
                <button class="btn btn-primary" name="next" value="1">Next</button>
                <a class="btn btn-secondary btn-previous" name="previous" value="1" href="{% url 'step_1' %}">Previous</a>
            </div>
        </form>
    </main>
{% endblock %}
    