{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>Timetable Generator - Step 1</title>
{% endblock %}

{% block content %}
<main class="container">
    <form action="{% url 'step_1' %}" method="POST" class="px-5">
        {% csrf_token %}
        <h2 class="p-3 fs-6 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">Step 1. Define Problem Domain</h2>
        <div class="row my-3 form-group">
            <label for="locations" class="col-md-2 col-form-label">Locations</label>
            <div class="col-md-10">
                <input type="number" name="locations" id="locations" class="form-control" min="1" required>
                <small class="text-muted">How many locations do you have?</small>
            </div>
        </div>
        <div class="row my-3 form-group">
            <label for="courses" class="col-md-2 col-form-label">Courses</label>
            <div class="col-md-10">
                <input type="number" name="courses" id="courses" class="form-control" min="1" required>
                <small class="text-muted">How many courses do you have?</small>
            </div>
        </div>
        <div class="row my-3 form-group">
            <label for="timeslots" class="col-md-2 col-form-label">Timeslots</label>
            <div class="col-md-10">
                <input type="number" name="timeslots" id="timeslots" class="form-control" min="1" required>
                <small class="text-muted">How many timeslots a day do you want to have?</small>
            </div>
        </div>
        <div class="d-flex flex-row-reverse py-3">
            <button class="btn btn-primary" name="next" value="1">Next</button>
        </div>
    </form>
</main>
{% endblock %}