{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>Timetable Generator - Step 3</title>
{% endblock %}

{% block content %}
<main class="container">
    <form action="{% url 'step_3' %}" method="POST" class="px-5">
        {% csrf_token %}
        <h2 class="p-3 fs-6 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">Step 3. Specify Distance between Locations</h2>
        
        {% for i in nb_courses %}
        <div class="row my-3 form-group">
            <label for="class{{i}}" class="col-md-4 col-form-label">Classes for <b>Course {{i}}</b></label>
            <div class="col-md-8">
                <input type="number" name="class{{i}}" id="class{{i}}" class="form-control" min="1">
                <small class="text-muted">How many classes are you going to open for Course {{i}}?</small>
            </div>
        </div>
        {% endfor %}
            
        <div class="d-flex flex-row-reverse py-3">
            <button class="btn btn-primary">Submit</button>
            <a class="btn btn-secondary btn-previous" name="previous" value="1" href="{% url 'step_2' %}">Previous</a>
        </div>
    </form>
</main>
{% endblock %}